.square {
  width: 100px;
  height: 100px;
  background-color: black;
}
  
.rounded {
  border-radius: 50px;
}

.triangle {
  width: 0;
    height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid black;
  background-color: white;
}

.transition {
  transition: all 1s;
}